<% was_validated = application.errors.any? %>

<%= form_with(model: application, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-check">
    <% submitted_class = "form-check-input" %>
    <% submitted_was_invalid = application.errors.include?(:submitted) %>

    <% if was_validated %>
      <% if submitted_was_invalid %>
        <% submitted_class << " is-invalid" %>
      <% else %>
        <% submitted_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :submitted, class: "form-check-label" do %>
      <%= f.check_box :submitted, class: submitted_class %> Submitted
    <% end %>
    <% if submitted_was_invalid %>
      <% application.errors.full_messages_for(:submitted).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <% company_class = "form-control" %>
    <% company_was_invalid = application.errors.include?(:company) %>

    <% if was_validated %>
      <% if company_was_invalid %>
        <% company_class << " is-invalid" %>
      <% else %>
        <% company_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :company_id %>
    <%= f.collection_select :company_id, Company.all, :id, :to_s, {}, class: "form-control" %>
    <% if company_was_invalid %>
      <% application.errors.full_messages_for(:company).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% due_on_class = "form-control" %>
    <% due_on_was_invalid = application.errors.include?(:due_on) %>

    <% if was_validated %>
      <% if due_on_was_invalid %>
        <% due_on_class << " is-invalid" %>
      <% else %>
        <% due_on_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :due_on %>
    <%= f.date_select :due_on, class: due_on_class, placeholder: "Enter due on" %>
    <% if due_on_was_invalid %>
      <% application.errors.full_messages_for(:due_on).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% title_class = "form-control" %>
    <% title_was_invalid = application.errors.include?(:title) %>

    <% if was_validated %>
      <% if title_was_invalid %>
        <% title_class << " is-invalid" %>
      <% else %>
        <% title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title, class: title_class, placeholder: "Enter title" %>
    <% if title_was_invalid %>
      <% application.errors.full_messages_for(:title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
